<div class="exam-table-section">
  <table class="exam-table">
    <thead>
      <tr>
        <th>Edit</th>
        <th>Exam Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Duration</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of quizzes">
        <td><button class="icon-button" aria-label="Edit Exam"><span class="material-icons">edit</span></button></td>
        <td class="text-black">{{ quiz.title }}</td>
        <td class="text-black">{{ quiz.startDate || 'N/A' }}</td>
        <td class="text-black">{{ quiz.endDate || 'N/A' }}</td>
        <td class="text-black">{{ quiz.duration }}</td>
        <td>
          <button class="view-results-link" (click)="viewResults(quiz)">
            View Results
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>