
<div class="user-details-container">
    <h2>User Details</h2>
    <div class="user-detail">
      <label for="userId">User  ID:</label>
      <span id="userId">{{ userDetails.id }}</span>
    </div>
    <div class="user-detail">
      <label for="userEmail">Email:</label>
      <span id="userEmail">{{ userDetails.email }}</span>
    </div>
    <div class="user-detail">
      <label for="userName">Name:</label>
      <span id="userName">{{ username }}</span>
    </div>
    <div class="user-detail">
      <label for="userRole">Role:</label>
      <span id="userRole">{{ userDetails.role }}</span>
    </div>
  </div>
