<div class="results-table-container">
    <h2>Results for {{ examTitle |  uppercase }}</h2>
  
    <table class="results-table" *ngIf="results.length > 0; else noResults">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <td>{{ result.studentName }}</td>
          <td>{{ result.score }}</td>
        </tr>
      </tbody>
    </table>
  
    <ng-template #noResults>
      <p>No students have completed this quiz yet.</p>
    </ng-template>
  </div>