<div class="layout-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <button class="icon active" (click)="navigateToStudentDashboard()" >🏠</button>
      <button class="icon" (click)="navigateToUserDetails()">👤</button>
      <button class="icon" (click)="signOut()">⚙️</button>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <!-- Topbar -->
    <header class="topbar">
      <div class="topbar-left">
        <span class="logo-text">Quiz-Management System</span>
        <input type="text" placeholder="Search for something" class="search-box" />
      </div>
      <div class="user-info">
        {{ username | uppercase }}
      </div>
    </header>

    <!-- Dashboard -->
    <section class="dashboard">
      <h2>Exams Dashboard</h2>

      <div class="tabs">
        <span class="tab" (click)="navigateTo('active')">Active {{ active }}</span>
        <span class="tab active" >Enrolled {{ enrolledCount }}</span>
        <span class="tab" (click)="navigateTo('completed')">Completed {{ completedCount }}</span>

        <select class="ml-6">
          <option>Select date</option>
        </select>
        <select>
          <option>Filter by subject</option>
        </select>
      </div>

      <!-- Completed List -->
      <div class="enrolled-item" *ngFor="let course of enrolledCourses">
        <div class="icon-wrap">
          <div class="icon-box pink">💰</div>
        </div>
        <div class="exam-details">
          <h3>{{ course.examName }}</h3>
        </div>
        <div>
          <p class="mr-3">{{ course.date | date: 'dd MMM, yyyy' }}</p>
        </div>
        <div>
          <p class="duration">{{ getDuration(course.examName) }} </p>
        </div>
        <div class="action">
          <button class="resume-btn" (click)="onStart(course.examName)">Start</button>
        </div>
      </div>
    </section>
  </main>
</div>